/**
 * @file
 * Style sheets with overrides for RTL languages for the Adhan block.
 */

#block-adhan-adhan .justify {
  text-align: left;
}

#block-adhan-adhan .current td.label {
  border-left: 0 none;
  border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
}
#block-adhan-adhan .current td.justify {
  border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  border-right: 0 none;
}