/**
 * @file
 * Style sheet for the Adhan block.
 */

#block-adhan-adhan img {
  max-width: 100%;
}

#block-adhan-adhan .justify {
  text-align: right; /* LTR */
}

#block-adhan-adhan .current td.label {
  border-right: 0 none; /* LTR */
}
#block-adhan-adhan .current td {
  background: -moz-linear-gradient(
    top,
    #00A000 0%,
    #009000 45%,
    #007000 55%,
    #005000
  );
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#00A000),
    color-stop(0.45, #009000),
    color-stop(0.55, #007000),
    to(#005000)
  );
  background-color: #00A000;
  border-radius: 10px 0px 0px 10px; /* LTR */
  -moz-border-radius: 10px 0px 0px 10px; /* LTR*/
  -webkit-border-radius: 10px 0px 0px 10px; /* LTR */
  color: #FFFFFF;
  font-weight: bold;
}
#block-adhan-adhan .current:hover td {
  background: -moz-linear-gradient(
    top,
    #20C020 0%,
    #20A020 45%,
    #209020 55%,
    #207020
  );
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#20C020),
    color-stop(0.45, #20A020),
    color-stop(0.55, #209020),
    to(#207020)
  );
  background-color: #20C020;
}
#block-adhan-adhan .current td.justify {
  border-left: 0 none;
  border-radius: 0px 10px 10px 0px; /* LTR */
  -moz-border-radius: 0px 10px 10px 0px; /* LTR */
  -webkit-border-radius: 0px 10px 10px 0px; /* LTR */
}

#block-adhan-adhan .next {
  color: #FF3030;
}

.ui-dialog-overlay {
  background-color: #555555;
  opacity: .2;
}

.ui-dialog-container {
  background-color: #FFFFFF;
}

.ui-dialog-container .ui-dialog-titlebar {
  background: -moz-linear-gradient(
    top,
    #00A000 0%,
    #009000 45%,
    #007000 55%,
    #005000
  );
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#00A000),
    color-stop(0.45, #009000),
    color-stop(0.55, #007000),
    to(#005000)
  );
  background-color: #00A000;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 120%;
  padding: 5px 0px;
  text-align: center;
}

.ui-dialog-container .ui-dialog-content {
  margin: 10px 10px;
}

.ui-dialog-container .ui-dialog-content audio {
  padding: 70px 10% 5px 10%;
  width: 80%;
}

.ui-dialog-buttonpane button {
  float: right;
  margin: 10px;
}